---
import Layout from '../layouts/Layout.astro';
import CardsPinturas from '../components/CardsPinturas.astro';
---

<Layout title="Diego Aizpuru Art and Paintings Portofolio">
	<main>
		<CardsPinturas>
	</main>
</Layout>