---
---
<header class="mx-auto w-10/12 justify-between items-center ">
  <nav>
    <span class="text-2xl capitalize">Diego Aizpuru</span>
    <a href="#">Home</a>
    <a href="#">Art</a>
    <a href="#">Contact</a>
  </nav>
</header>