---
console.log("Se cargó el header motherfuckers");
---
<header class="py-2 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6 bg-red-900">
  <nav class="w-full">
    <ol class="flex justify-between text-white">
      <li class="bg-gray-800 px-8 py-3 ">Inicio</li>
      <li class="bg-gray-800 px-8 py-3 ">Obras</li>
      <li class="bg-gray-800 px-8 py-3 ">Contacto</li>
    </ol>
  </nav>
</header>